<footer style="background-color:#f1f1f1; text-align:center;padding: 10px; padding-bottom: 1px; font-size: 20px;">
<p>CopyRight &copy; At 2018 <a href="/" style="text-decoration:none;">Coding Keeda</a> </p>
</footer>